
.btnsPrincipales{
    float:left;
    text-align: center;
    width: 170px;
    height: 70px;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}
.btnsPrincipales:hover{
    transform:scale(1.1);
}

