<!doctype html>
<html lang="en">
    <head>
        <title>Control de Gastos</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!-- se coloco este link href para dirigir a los archivos de la carpeta css de bootstrap -->
        <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">    
        <link rel="stylesheet" href="../css/layoutPrincipal.css">
    </head>
    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <!-- se coloco este link href para dirigir a los archivos de la carpeta js de bootstrap -->
        <script src="../js/bootstrap/bootstrap.min.js"></script>
        <!-- iconos -->
        <script src="https://kit.fontawesome.com/56e130d827.js"></script>

        <!-- gantt -->
        <script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
        <script src="https://code.highcharts.com/gantt/modules/accessibility.js"></script>

        <!-- para el date range picker -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        
    </body>
</html>

<style>
    .botonFechas{
        cursor: pointer;
        font-size: 12px;
        width: 140px;
        height: 30px;
        padding: 8px 12px;
    }
    .botonFechas:hover{
        background: #eee;
    }

    .daterangepicker::before{
        display: flex !important;
    }


    #map { 
        width: 100%;
        height: 580px;
        box-shadow: 5px 5px 5px #888;
    }
</style>


<div style="padding:10px;display: flex;">
    <i style="font-size: 20px;margin-top: 5px;margin-right: 10px;" class="fa fa-calendar-o" aria-hidden="true"></i>
    <input id="rangoFechas" name="datetimes" style="width:200px; height: 30px;padding-left:8px;border-radius:5px;border:1px solid #c0bdbd">
</div>

<div id="map"></div>


<!-- aca recien lee las funciones cuando eliges un id de los divs pues si se pone antes estos aun no estan declarados -->
<script src="../js/home.js"></script>
